services:
  redis:
    restart: unless-stopped
    image: redis:6.2.6
    networks:
      - redis_network

  caddy:
    image: caddy:2.6.1-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - $PWD/_caddy/Caddyfile:/etc/caddy/Caddyfile
      - static_files_volume:/usr/share/caddy/static
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy_network
    environment:
      - PROD_CSRF_ORIGIN

  django:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
      secrets:
        - django_secret_key
    depends_on:
      - redis
    command: uv run gunicorn webauthnio.wsgi -c gunicorn.cfg.py
    volumes:
      - ./_app:/usr/src/app
      # uv-specific files needed for `uv run` commands to succeed
      - ./pyproject.toml:/usr/src/app/pyproject.toml
      - ./uv.lock:/usr/src/app/uv.lock
      # Django static files will go here so Caddy can access them
      - static_files_volume:/usr/src/app/static
    networks:
      - caddy_network
      - redis_network
    secrets:
      - django_secret_key
    environment:
      - PYTHONUNBUFFERED=0
      - DJANGO_SECRET_KEY_FILE=/run/secrets/django_secret_key
      - PROD_HOST_NAME
      - PROD_CSRF_ORIGIN
      - RP_ID
      - RP_NAME
      - RP_EXPECTED_ORIGIN
      - AASA_APP_ID_PREFIX
      - AASA_BUNDLE_ID

volumes:
  static_files_volume:
  caddy_data:
  caddy_config:

networks:
  caddy_network:
  redis_network:

secrets:
  django_secret_key:
    environment: DJANGO_SECRET_KEY
