[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
redis = "*"
hiredis = "*"
webauthn = "==2.8.0-alpha1"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
flake8-quotes = "*"
types-redis = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
