{% load static %}
<footer class="sponsored-by row">
  <div class="sponsored-by-box">
    <p>Sponsored by</p>
    <a rel="noopener" href="https://duo.com" target="_blank">
      <img
        class="mb-3"
        role="presentation"
        alt="Duo Security"
        src="{% static 'images/duo-logo-green@3x.png' %}"
      />
    </a>
    <a rel="noopener" href="https://cisco.com" target="_blank">
      <img
        role="presentation"
        alt="Cisco"
        src="{% static 'images/kq-b-sj-a-7-q@3x.png' %}"
      />
    </a>
  </div>
</footer>
