{% extends 'homepage/base.html' %}
{% load static %}

{% block header %}
<header>
  <div class="hero confetti">
    <div class="pt-5 container">
      <div class="row">
        <div class="main-content col-md-12">
          <h5><a href="/">WebAuthn.io</a></h5>
          <div class="row mt-3">
            <div class="hero-left order-2 col-lg-9 order-lg-1">
              <div class="row">
                <div class="col-lg-12">
                  <h3>You're logged in!</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8">
                  <p>
                    You just logged in using Web Authentication. Instead of
                    using a traditional, shared-key password, you used a piece
                    of secure hardware to create a strong, attested, and scoped
                    credential that is virtually unphishable! To keep learning
                    about Web Authentication and the FIDO2 framework, check out
                    <a href="https://webauthn.guide">webauthn.guide</a>.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5">
                  <a href="{% url 'logout' %}" class="btn w-100 btn-primary btn-lg"
                    >Try it again?</a
                  >
                </div>
              </div>
            </div>
            <div class="hero-right order-1 col-lg-3 order-lg-2">
              <img
                role="presentation"
                alt=""
                class="party-cat"
                src="{% static 'images/cat.svg' %}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Credentials for <strong>{{ request.session.username }}</strong></h3>
        <p class="text-muted">*Credentials are stored for 24 hours.</p>
      </div>
    </div>
    <div class="row credentials-list">
      {% for cred in credentials %}
      <div class="col-lg-6 mb-3">
        <ul class="card container credential">
          <li class="bg-primary text-light credential-title">
            <h4>{{ cred.id }}</h4>
          </li>
          <li>
            <strong>Description:</strong>
            <br>
            {{ cred.description }}
          </li>
          <li>
            <strong>Transports:</strong>
            <br>
            {{ cred.transports }}
          </li>
          <li>
            <strong>Provider Information:</strong>
            <br>
            <strong>Name:</strong> {{ cred.provider_name }}
            <br>
            <strong>AAGUID:</strong> {{ cred.aaguid }}
          </li>
          {% if cred.debug_info %}
          <li>
            <strong>Debug Information:</strong>
            <br>
            <strong>Public Key Type:</strong> {{ cred.debug_info.public_key.kty }}
            <br>
            <strong>Public Key Algorithm:</strong> {{ cred.debug_info.public_key.alg }}
          </li>
          {% endif %}
          <li class="credential-delete">
            <button type="button" class="btn btn-outline-danger" onclick="deleteCredential('{{cred.raw_id}}')">Delete</button>
          </li>
        </ul>
      </div>
      {% endfor %}
      {% csrf_token %}
      <script>
        /**
         * Delete the credential then reload the page so we don't pollute the browser history stack
         *
         * @param {string} id
         */
        async function deleteCredential(id) {
          // Normalize the ID a bit
          const _id = id.trim();

          // Get CSRF token
          const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

          try {
            await fetch(
              `credential/${_id}/delete`,
              {
                method: 'post',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
              },
            );
            window.location.reload();
          } catch (err) {
            console.error('Error deleting credential', err);
          }
        }
      </script>
    </div>
  </div>
</section>
{% endblock %}
