{% load static %}
<section x-data="global">
  <form id="usernameForm">
    {{ username_form }}
    <button type="button" id="usernameBtnRegister">Register</button>
    <button type="button" id="usernameBtnAuthenticate">Authenticate</button>
  </form>

  <details id="advanced-settings" :open="showAdvancedSettings">
    <summary>Advanced Settings</summary>

    <div style="display: flex">
      <div style="flex: 1">
        <!-- User Verification -->
        <label for="optRequireUV">
          Require User Verification
          <input
            type="checkbox"
            name="optRequireUV"
            id="optRequireUV"
            x-model="options.requireUserVerification"
          />
        </label>
        <strong> PubKeyCredAlgs: </strong>

        <!-- Algorithm - ES256 -->
        <label for="optAlgES256">
          ES256
          <input
            type="checkbox"
            name="optAlgES256"
            id="optAlgES256"
            x-model="options.algES256"
          />
        </label>

        <!-- Algorithm - RS256 -->
        <label for="optAlgRS256">
          RS256
          <input
            type="checkbox"
            name="optAlgRS256"
            id="optAlgRS256"
            x-model="options.algRS256"
          />
        </label>
      </div>
      <div style="flex: 1">
        <!-- Attachment -->
        <label for="attachment">
          Authenticator Attachment
          <select
            name="attachment"
            id="attachment"
            x-model="options.attachment"
          >
            <option value="">any</option>
            <template x-for="attachment in attachments" :key="attachment">
              <option
                :value="attachment"
                :selected="options.attachment === attachment"
                x-text="attachment"
              ></option>
            </template>
          </select>
        </label>

        <!-- Attestation dropdown -->
        <label for="attestation">
          Attestation
          <br />
          <select
            name="attestation"
            id="attestation"
            x-model="options.attestation"
          >
            <template x-for="attestation in attestations" :key="attestation">
              <option
                :value="attestation"
                :selected="options.attestation === attestation"
                x-text="attestation"
              ></option>
            </template>
          </select>
        </label>
      </div>
    </div>
  </details>
</section>

<script src="{% static "simplewebauthn-browser.5.1.0.umd.min.js" %}"></script>
<script>
  const { browserSupportsWebauthn } = SimpleWebAuthnBrowser;
  console.log(browserSupportsWebauthn());

  // Initialize advanced options
  document.addEventListener("alpine:init", () => {
    Alpine.data("global", () => ({
      init() {
        // Read options from query params if set
        if (location.search) {
          console.log("initializing options from query params");
          this.showAdvancedSettings = true;

          // Read query params
          const currentParams = new URLSearchParams(location.search);

          // Initialize data from query params
          this.options.requireUserVerification =
            currentParams.get("requireUserVerification") === "true";
          this.options.algES256 = currentParams.get("algES256") === "true";
          this.options.algRS256 = currentParams.get("algRS256") === "true";

          const _attestation = currentParams.get("attestation");
          if (this.attestations.indexOf(_attestation) >= 0) {
            this.options.attestation = _attestation;
          }

          const _attachment = currentParams.get("attachment");
          if (this.attachments.indexOf(_attachment) >= 0) {
            this.options.attachment = _attachment;
          }
        }

        // Update query parameters when options change
        this.$watch("options", () => {
          const newParams = new URLSearchParams(this.options);
          window.history.replaceState(
            {},
            "",
            `${location.pathname}?${newParams}`
          );
        });
      },

      // Default state
      showAdvancedSettings: false,
      options: {
        requireUserVerification: true,
        attestation: "none",
        attachment: "",
        algES256: true,
        algRS256: true,
      },
      // Possible values for options.attestation
      attestations: ["none", "direct"],
      // Possible values for options.attachment
      attachments: ["cross_platform", "platform"],

      // Event handlers
      handleRegistration() {
        console.log(this.options);
      },
      handleAuthenticate() {
        console.log(this.options);
      },
    }));
  });
</script>
<script src="{% static "alpinejs-3.10.2.min.js" %}"></script>
