{{define "info-footer"}}
<div class="container">
    <div class="section intro">
        <div class="row">
            <div class="col-lg-5 d-flex justify-content-center mb-5">
                <img role="presentation" alt="" src="/dist/images/shield.svg">
            </div>
            <div class="col-lg-7">
                <h3>What is WebAuthn?</h3>
                <p>Welcome to webauthn.io! This site is designed by <a href="https://duo.com/labs">Duo Labs</a> to test
                    the new
                    W3C Specification Web Authentication. WebAuthn is supported in the Chrome,
                    Firefox, and Edge browsers to different degrees, but support for credential
                    creation and assertion using a U2F Token, like those provided by Yubico and
                    Feitian, is supported by all of them. The code for this demo can be found
                    <a href="https://github.com/duo-labs/webauthn.io">here on GitHub</a>. To read more about WebAuthn
                    and what is does, check out
                    <a href="https://webauthn.guide">webauthn.guide</a> for an introduction.</p>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <a href="https://webauthn.guide" class="btn btn-primary btn-lg w-100">
                            Read more at webauthn.guide
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section libraries">
        <div class="row">
            <div class="mx-0 col-lg-6 libraries-header">
                <h3>Using WebAuthn</h3>
                <p>Get started using WebAuthn with one of these libraries:</p>
            </div>
        </div>
        <div class="row">
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/duo-labs/webauthn">
                    <h5>Go</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">duo-labs/webauthn</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Duo Labs</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Server</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/duo-labs/webauthn.io">
                    <h5>Go</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">duo-labs/webauthn.io</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Duo Labs</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Demo</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/koesie10/webauthn">
                    <h5>Go</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">koesie10/webauthn</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Koen
                            Vlaswinkel</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Server</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/duo-labs/android-webauthn-authenticator">
                    <h5>Java</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">duo-labs/android-webauthn-authenticator</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Duo Labs</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Authenticator</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/google/webauthndemo">
                    <h5>Java</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">google/webauthndemo</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Google</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Demo</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/webauthn4j/webauthn4j">
                    <h5>Java</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">webauthn4j/webauthn4j</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Yoshikazu Nojima</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Server</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/Yubico/java-webauthn-server">
                    <h5>Java</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">Yubico/java-webauthn-server</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Yubico</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Server</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/fido-alliance/webauthn-demo">
                    <h5>Javascript</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">fido-alliance/webauthn-demo</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Fido
                            Alliance</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Demo</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/abergs/fido2-net-lib">
                    <h5>.NET</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">abergs/fido2-net-lib</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Anders Åberg</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Server/Demo</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/duo-labs/py_webauthn">
                    <h5>Python</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">duo-labs/py_webauthn</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Duo Labs</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Server/Demo</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/cedarcode/webauthn-ruby">
                    <h5>Ruby</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">cedarcode/webauthn-ruby</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Cedarcode</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Server</span></p>
                </a>
            </div>
            <div class="mt-3 col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
                <a class="library" href="https://github.com/google/virtual-authenticators-tab">
                    <h5>Chrome Extension</h5>
                    <p class="mb-1"><img class="icon" src="/dist/images/github.svg" /> <span class="ml-2">google/virtual-authenticators-tab</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/author.svg" /> <span class="ml-2">Nina Satragno</span></p>
                    <p class="mb-1"><img class="icon" src="/dist/images/brackets.svg" /> <span class="ml-2">Authenticator</span></p>
                </a>
            </div>
        </div>
    </div>
    <div class="bio-section d-flex flex-wrap section footer-image">
        <div class="row bio-content">
            <div class="col-lg-5">
                <h4 class="bio-header">Nick Steele</h4>
                <p>Nick Steele is an R&D engineer with <a href="https://duo.com/labs">Duo Labs</a> and a W3C
                    Invited Expert for the WebAuthn standard.</p>
                <p>While his focus lies in user authentication and authorization, he also has strong opinions about
                    sci-fi
                    and ramen.
                </p>
                <p><a href="https://twitter.com/codekaiju"><img class="twitter-logo" src="/dist/images/twitter.svg" />@codekaiju</a></p>
            </div>
        </div>
        <div class="bio-image">
            <img src="/dist/images/nickbio.svg" />
        </div>
    </div>
</div>

<div class="sponsored-by row">
    <div class="sponsored-by-box">
        <p>Sponsored by</p><a rel="noopener" href="https://duo.com" target="_blank"><img class="mb-3" role="presentation"
                alt="Duo Security" src="/dist/images/duo-logo-green@3x.png"></a><a rel="noopener" href="https://cisco.com"
            target="_blank"><img role="presentation" alt="Cisco" src="/dist/images/kq-b-sj-a-7-q@3x.png"></a>
    </div>
</div>
{{end}}
