{{define "content"}}
<div class="hero section">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="row">
                    <div class="hero-left order-2 col-lg-6 order-lg-1">
                        <h2>WebAuthn.io</h2>
                        <h5>A demo of the WebAuthn specification</h5>
                        <div class="mt-5 hero-form">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="input-email" placeholder="example_username">
                            </div>
                            <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-authenticator">Attestation Type</label>
                                </div>
                                <select class="custom-select form-control" id="select-attestation">
                                    <option selected value="none">None</option>
                                    <option value="indirect">Indirect</option>
                                    <option value="direct">Direct</option>
                                </select>
                            </div>
                            <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-authenticator">Authenticator
                                        Type</label>
                                </div>
                                <select class="custom-select form-control" id="select-authenticator">
                                    <option selected value="">Unspecified</option>
                                    <option value="cross-platform">Cross platform</option>
                                    <option value="platform">Platform (TPM)</option>
                                </select>
                            </div>                        
                            <div class="input-group mb-3">
                                <button onclick="makeCredential()" id="register-button" class="btn btn-lg btn-primary">Register</button>
                                <button onclick="getAssertion()" id="login-button" class="btn btn-lg btn-primary"
                                    data-toggle="popover" data-content="Success! Now try logging in :)">Login</button>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#advancedSettings" aria-expanded="false" aria-controls="collapseExample">
                                    Advanced Settings                                                                                                            
                                </button>                                    
                            </div>
                            <div class="input-group">
                                <div id="alert">
                                    <img class="warning-icon" src="/dist/images/warning.svg" />
                                    <span id="alert-msg"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-right order-1 col-lg-6 order-lg-2">
                        <img role="presentation" class="main" alt="" src="/dist/images/header-illi.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="advanced section">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="row">
                    <div class="main-content col-lg-8">                        
                        <div class="collapse advanced-settings" id="advancedSettings">
                            <div class="input-group">
                                <h3>Advanced Settings</h3> 
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="select-verification">User Verification</label>
                                    </div>
                                    <select class="custom-select form-control" id="select-verification">
                                        <option selected value="discouraged">Discouraged</option>
                                        <option value="preferred">Preferred</option>
                                        <option value="required">Required</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="select-residency">Register with Resident Key</label>
                                    </div>
                                    <select class="custom-select form-control" id="select-residency">
                                        <option selected value="false">Not Required</option>
                                        <option value="true">Required</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">txAuthSimple Extension</span>
                                    </div>
                                    <input id="extension-input" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-lg" placeholder="Go passwordless!">
                                </div>                                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>  
    </div>

{{end}}
