{% load static %}
<section class="bio-section d-flex flex-wrap section footer-image">
  <div class="row bio-content">
    <div class="col-lg-5">
      <h4 class="bio-header">Nick Steele</h4>
      <p>
        Nick Steele is an R&D engineer with
        <a href="https://duo.com/labs">Duo Labs</a> and a W3C Invited Expert for
        the WebAuthn standard.
      </p>
      <p>
        While his focus lies in user authentication and authorization, he also
        has strong opinions about sci-fi and ramen.
      </p>
      <p>
        <a href="https://twitter.com/codekaiju"
          ><img
            class="twitter-logo"
            src="{% static 'images/twitter.svg' %}"
          />@codekaiju</a
        >
      </p>
    </div>
  </div>
  <div class="bio-image">
    <img src="{% static 'images/nickbio.svg' %}" />
  </div>
</section>
