{% load static %}
<section class="footer-image">
  <div class="container">
    <div class="row bio-content">
      <div class="col-sm-7">
        <h4 class="bio-header">Matthew Miller</h4>
        <p>
          Matthew Miller is a Tech Lead on the Cisco Secure team helping to build a user-centric
          <a href="https://duo.com/">Duo</a> Passwordless experience.
        </p>
        <p>
          In addition to representing Cisco in two WebAuthn Working Groups, and being a co-chair
          of the WebAuthn Adoption Community Group, Matthew created and maintains
          two WebAuthn libraries including py_webauthn and SimpleWebAuthn.
        </p>
        <p>
          Got a question? Get in touch over at the
          <a href="https://github.com/duo-labs/webauthn.io" target="_blank">duo-labs/webauthn.io</a>
          repo.
        </p>
      </div>
      <div class="col-sm-5">
        <div class="bio-image">
          <img src="{% static 'images/matt-full.svg' %}" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">
        <div class="container">
          <div class="row">
            <div class="col-4 col-md-3">
              <div class="bio-image">
                <img src="{% static 'images/nick-mini.svg' %}" loading="lazy" />
              </div>
            </div>
            <div class="col-6 col-md-7">
              <h4 class="bio-header">Special Thanks to Nick Steele</h4>
              <p>
                Nick Steele is a cybersecurity researcher, and contributor to the WebAuthn
                specification. While he's no longer at Duo, he thinks about them every time he gets
                a push notification.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
